<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Polygon Arrays</title>
    <style>
      
      #map {
        height: 100%;
      }
      
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div id="map"></div>
<p id="demo"></p>
    <script>

      
      var map;
      var infoWindow;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 13.5892, lng: 80.0283},
          mapTypeId: 'terrain'
        });
  
  var A={{j4_lat}};
  var B={{j4_long}};
   
  B.forEach(function(element,index){
    coords = [];
    var x = element.length;
    for(var j=0;j<x;j++)
    {
      coords.push({lat:A[index][j],lng:B[index][j]});
    }
    console.log(coords);
    var bermudaTriangle = new google.maps.Polygon({
        paths: coords,
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 3,
        fillColor: '#FF0000',
        fillOpacity: 0.8
    });
          bermudaTriangle.setMap(map);
    bermudaTriangle.addListener('click', (event) =>{

      var p = '(i+1)';
      var q = 'c[index]';

      var contentString = '<b>Farm Id</b><br>' + '1' + '<br>' + '<b>Area</b><br>' + '6';
      infoWindow.setContent(contentString);
      infoWindow.setPosition(event.latLng);
      infoWindow.open(map);
    });

  });
    

        // Construct the polygon.
        
        
        

        /*function Createmarker(lt,ln,content){
          var newmarker=new google.maps.Marker({
            position:new google.maps.LatLng(lt , ln);
            map:map
          });


          newmarker['infowindow'] = new google.maps.InfoWindow({
            content:content
          });

          google.maps.event.addListener(newmarker, 'mouseover', function() {
          this['infowindow'].open(map, this);
          });

        };*/
        //var D = {{j1}};


       /* var infoWindow = new google.maps.InfoWindow();
        var marker,i;

        for (var i = 0; i < D.length; i++) {
          //Createmarker(D[i][1],D[i][2],D[i][0]);
          //var position =new google.maps.LatLng(D[i][1] , D[i][2]);
         // bounds.extend(position);
            marker = new google.maps.Marker({
            position:new google.maps.LatLng(D[i][1] , D[i][2]),
            map:map,
            //title:D[i][0]

          });

          var l=D[i][0];

        google.maps.event.addListener(marker, 'click', function((marker,i,l){
          return function(){
            infoWindow.setContent(String(l));
            infoWindow.open(map,marker);
          }

        })(marker,i,l));

        map.fitBounds(bounds);

        };*/
        /*D.forEach(function(element,index){

          var marker = new google.maps.Marker({
            position:new google.maps.LatLng(D[index][1] , D[index][2] ),
            map:map

          });
          


          };

        });*/
        /*D.forEach()
         var marker = new google.maps.Marker({
            position:new google.maps.LatLng({{j1.0.1}} , {{j1.0.2}} ),
            map:map

          });*/
        infoWindow = new google.maps.InfoWindow;
        var image = {
          url: 'https://us.123rf.com/450wm/aomeditor/aomeditor1506/aomeditor150600020/41676674-illustrator-of-well.jpg?ver=6',
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(200, 200),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          // The anchor for this image is the base of the flagpole at (0, 32).
          anchor: new google.maps.Point(256, 256)
        };

        //var infowindow = new google.maps.InfoWindow;


        var marker1 = new google.maps.Marker({
          position:new google.maps.LatLng(13.585990, 80.024294),
          map:map,
          animation:google.maps.Animation.BOUNCE,
         // icon:image

        });

         marker1.addListener('click', function() {
          infoWindow.setContent("Household-id:1<br> Name:Keshav")
          infoWindow.open(map, marker1);
        });



        var marker2 = new google.maps.Marker({
          position:new google.maps.LatLng(13.586215,80.02531),
          map:map,
          animation:google.maps.Animation.BOUNCE,
          //icon:image
        });
        marker2.addListener('click', function() {
          infoWindow.setContent("Wellid:1<br> Avg-wateryeild:25.23cc/year")
          infoWindow.open(map, marker2);
        });






      //wells


      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6a4S-xH4a4adbVbnuKoXqkueYiMPOFHw&callback=initMap">
    </script>
    
  </body>
</html>









